header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
header ul li a{
    color: #fff;

}
header ul li a:hover{
    color: #000;
}
